<!DOCTYPE html>
<html>

<head>
    @RenderPage("_header.cshtml")
</head>

<body>

    @RenderPage("_navbarInterno.cshtml")


    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderPage("_footer.cshtml")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>

</body>
</html>